.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin: 20px auto;
}

.navbarMobile {
  display: none;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}

a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.active {
  color: #3861fb;
}

.button {
  border: none;
  outline: none;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.login:hover {
  color: #fff;
  background-color: #020202;
}

.signup {
  color: #fff;
  background-color: #3861fb;
}

.signup:hover {
  background-color: #1f4ffd;
}

.signout {
  color: #fff;
  background-color: #ea3943;
}

.signout:hover {
  background-color: #e01822;
}

.divider {
  height: 1px;
  margin-top: 5px;
  background: linear-gradient(to right, transparent, grey, transparent);
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbarMobile {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: 20px auto;
  }
  .menu {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 87, 232);
    cursor: pointer;
  }
  .navbarMenuList {
    padding: 0 10px;
    width: 50%;
    position: fixed;
    bottom: 100px;
    right: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 142, 184);
    border-radius: 20px;
  }
  .hidden {
    display: none;
  }
  a {
    color: black;
    margin: 10px 0;
  }
  .logo {
    color: white;
  }
  .button {
    margin: 10px 0;
  }
}
